<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Formulario Pelicula</title>
</head>
<body>
   <form action="#" th:action="@{/formularioA}" th:object="${pelicula}" method="post">

           <table>
               <tr>
                   <td>Titulo:</td>
                   <td><input type="text" th:field="*{titulo}" /></td>
                   <td th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Errror Titulo </td>
               </tr>
               <tr>
                   <td>Genero:</td>
                   <td><input type="text" th:field="*{tipo}" /></td>
                   <td th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}">Error Tipo/td>
               </tr>
               <tr>
                   <td>Duración:</td>
                   <td><input type="text" th:field="*{duracion}" /></td>
                   <td th:if="${#fields.hasErrors('duracion')}" th:errors="*{duracion}">Error Tipo/td>
               </tr>
               <tr>
                   <td><button type="submit">Submit</button></td>
               </tr>
           </table>
       </form>

 </body>
</html>