<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Insert title here</title>
</head>
<body>

<table border="1" style="width:70%">
    <tr>
        <th>Titulo</th>
        <th>Tipo</th>
        <th>Duracion</th>
    </tr>
    <!-- Paginación -->
    <nav aria-label="Page navigation example" th:if="${resultado.totalPages> 0}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${resultado.first} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/ejemploPag(page=${resultado.number - 1}, size=${resultado.size})}">Anterior</a>
            </li>
            <li class="page-item" th:classappend="${resultado.last} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/ejemploPag(page=${resultado.number + 1}, size=${resultado.size})}">Siguiente</a>
            </li>
            <!-- Enlaces a páginas individuales -->
            <tr th:each="peli: ${resultado.content}">
            <td th:text="${peli.titulo}"></td>
            <td th:text="${peli.tipo}"></td>
            <td th:text="${peli.duracion}"></td>
    </tr>
</table>


</body>
</html>